.Boxchat{
    width:25%;
    max-height: 600px;
    overflow-y: scroll;
    position:relative;
  }

  .Submitchatbutton{
    width:15%;
    float:right;
  }

  .Inputchatmessage{
    width:84%;
    float:left;
  }

  paper{

  }